.btn {
    display: inline-block;
    padding: 9px 12px;
    padding-top: 7px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #5e5e5e;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #d1dade;
    -webkit-border-radius: 3px;
    background-image: none !important;
    border: none;
    text-shadow: none;
    box-shadow: none;
    transition: all 0.12s linear 0s !important;
    font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.btn:focus {
    outline: none;
}
.btn .caret {
    margin-left: 3px;
}
.btn .caret.single {
    margin-left: 0px;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
    background-color: #c1cace;
}
.btn-cons {
    margin-right: 5px;
    min-width: 120px;
    margin-bottom: 8px;
}
.btn-demo-space {
    margin-bottom: 8px;
}
.demo-placeholder {
    width: 100%;
    height: 250px;
}
.btn-social {
    font-size: 20px;
    margin: 10px;
}
.btn-social:hover,
.btn-social:focus,
.btn-social:active,
.btn-social.active,
.btn-social.disabled,
.btn-social[disabled] {
    color: #2d8ebf;
    text-decoration: none;
}
.btn-primary {
    color: #ffffff;
    background-color: #0aa699;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    background-color: #0aa699;
}
.btn-success {
    color: #ffffff;
    background-color: #0090d9;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #0090d9;
}
.btn-info {
    color: #ffffff;
    background-color: #1f3853;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
    background-color: #1f3853;
}
.btn-warning {
    color: #ffffff;
    background-color: #fbb05e;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
    background-color: #fbb05e;
}
.btn-danger {
    color: #ffffff;
    background-color: #f35958;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
    background-color: #f35958;
}
.btn-danger-dark {
    color: #ffffff;
    background-color: #b94141;
}
.btn-danger-dark:hover,
.btn-danger-dark:focus,
.btn-danger-dark:active,
.btn-danger-dark.active,
.btn-danger-dark.disabled,
.btn-danger-dark[disabled] {
    background-color: #e94847;
    color: #ffffff;
}
.btn-dark {
    color: #ffffff;
    background-color: #1b1e24;
}
.btn-white {
    color: #5e5e5e;
    background-color: #ffffff;
    border: 1px solid #e5e9ec;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.btn-white.disabled,
.btn-white[disabled] {
    background-color: #fbfcfd;
    border: 1px solid #b4b9be;
}
.btn-link {
    color: #5e5e5e;
    background-color: transparent;
    border: none;
}
.btn-large {
    padding: 11px 19px;
    font-size: 16px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active,
.btn-link.disabled,
.btn-link[disabled] {
    background-color: transparent;
}
.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
    margin-top: 4px;
}
.btn-small {
    padding: 3px 12px;
    font-size: 11.9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
    margin-top: 0;
}
.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
    margin-top: -1px;
}
.btn-mini {
    padding: 2px 9px;
    font-size: 10.5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.btn-group.open .btn.dropdown-toggle {
    background-color: #e6e6e6;
}
.btn-group.open .btn-primary.dropdown-toggle {
    background-color: #0aa699;
}
.btn-group.open .btn-warning.dropdown-toggle {
    background-color: #fbb05e;
}
.btn-group.open .btn-danger.dropdown-toggle {
    background-color: #f35958;
}
.btn-group.open .btn-success.dropdown-toggle {
    background-color: #0090d9;
}
.btn-group.open .btn-info.dropdown-toggle {
    background-color: #1f3853;
}
.btn-group.open .btn-inverse.dropdown-toggle {
    background-color: #222;
}
.btn-group.open .btn-white.dropdown-toggle {
    background-color: #fbfcfd;
}
.btn-group > .btn + .dropdown-toggle {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-left: 1px #f7f7f7 solid;
    padding-right: 10px;
    border-left: 1px solid #E5E9EC;
}
.btn-group > .btn.btn-mini + .dropdown-toggle {
    padding-right: 8px;
}
.btn-group > .dropdown-menu {
    font-size: 13px;
}
.btn-group > .dropdown-menu li {
    padding-left: 0px;
}
.btn-block + .btn-block {
    margin-top: 8px;
}
.login-container {
    margin-top: 13%;
}

.grid {
    clear: both;
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 0px;
}
.grid.box {
    padding: 0px !important;
}
.grid.box .form-horizontal.form-bordered .control-group {
    margin-left: -10px;
    margin-right: -10px;
}
.grid.box .form-horizontal.form-bordered .control-group:first-child {
    margin-top: -10px;
}
.grid.box .grid-title {
    padding: 8px 10px 2px 10px;
    border-bottom: 1px solid #eee;
    color: #ffffff !important;
    margin-bottom: 0px;
}
.grid.box .grid-title > .actions > .btn > i {
    color: #ffffff !important;
}
.grid.box .grid-title .tools {
    margin-top: 3px;
}
.grid.box .grid-title .tools a {
    background: url(../img/icon/portlet-tray.png) no-repeat;
    width: 23px;
    height: 23px;
}
.grid.box .grid-body {
    background-color: #ffffff;
    padding: 10px;
}
.grid .simple .form-actions {
    margin-left: -20px !important;
    margin-right: -20px !important;
    margin-bottom: -20px !important;
}
.grid .solid .grid-title {
    color: #ffffff !important;
    border-bottom: 1px solid #ffffff;
}
.grid.solid .grid-title {
    margin-bottom: 5px;
    border: 0px;
    padding: 13px 15px 6px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35) !important;
}
.grid.solid .grid-title .tools {
    margin-top: 2px;
    border: 0px;
}
.grid.solid .grid-title h4 {
    color: #ffffff;
}
.grid.solid .grid-body {
    color: #ffffff;
    padding: 20px;
}
.grid.solid .grid-body h3 {
    color: #ffffff;
}
.grid.simple {
    padding: 0px !important;
}
.grid.simple .grid-title {
    padding: 14px 15px 7px 15px;
    border-bottom: 1px solid #eee;
    color: #282323 !important;
    background-color: #ffffff;
    margin-bottom: 0px;
    border: 1px solid #dddddd;
    border-bottom: 0px;
}
.grid.simple .grid-title > .actions > .btn > i {
    color: #ffffff !important;
}
.grid.simple .grid-title .tools {
    margin-top: 0px;
    position: relative;
}
.grid.simple .grid-title.no-border {
    border: 0px;
    border-bottom: 0px;
}
.grid.simple .form-actions {
    margin-right: -26px !important;
    margin-left: -26px !important;
    margin-bottom: -26px !important;
}
.grid.simple.transparent .grid-body {
    background-color: transparent !important;
    border: none;
}
.grid.simple.transparent .grid-title {
    border: none;
    border-bottom: 1px solid #D7DBE0;
    background-color: transparent;
}
.grid.simple .grid-body {
    background-color: #ffffff;
    padding: 26px;
    border: 1px solid #dddddd;
    color: #6f7b8a;
}
.grid.simple .grid-body.no-padding {
    padding: 0px;
}
.grid.simple .grid-body .wrap-body {
    padding: 0 26px;
    padding-top: 10px;
}
.grid.simple .grid-body.no-border {
    border: 0px;
    padding-top: 1px;
}
.grid.simple .grid-body h4 {
    color: #282323;
}
.grid.simple .grid-body h3 {
    color: #282323;
}
.grid.simple .grid-body.invoice-body {
    padding: 30px;
}
.grid.simple .grid-body.invoice-body .invoice-logo {
    margin-bottom: 18px;
}
.grid.simple.vertical.green {
    border-left: 4px solid #0aa699;
    border-top: none !important;
}
.grid.simple.vertical.red {
    border-left: 4px solid #f35958;
    border-top: none !important;
}
.grid.simple.vertical.purple {
    border-left: 4px solid #736086;
    border-top: none !important;
}
.grid.simple.vertical.blue {
    border-left: 4px solid #0090d9;
    border-top: none !important;
}
.grid.simple.horizontal.red .grid-title {
    border-top: 4px solid #f35958;
}
.grid.simple.horizontal.yellow .grid-title {
    border-top: 4px solid #ffb848;
}
.grid.simple.horizontal.green .grid-title {
    border-top: 4px solid #0aa699;
}
.grid.simple.horizontal.purple .grid-title {
    border-top: 4px solid #852b99;
}
.grid.simple.horizontal.grey .grid-title {
    border-top: 4px solid #555555;
}
.grid.simple.horizontal.light-grey .grid-title {
    border-top: 4px solid #aaa;
}
.grid:after,
.grid:before {
    display: table;
}
.grid-title {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.grid-title h4 {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 7px;
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.grid-title h4 i {
    font-size: 14px;
    margin-right: 5px;
    color: #666;
}
.grid-title.descriptive {
    padding-left: 23px !important;
    padding-top: 20px !important;
}
.grid-title.descriptive .actions {
    margin-right: 14px;
    margin-top: -16px;
}
.grid-title.descriptive .actions a {
    color: #4c5264;
}
.grid-title.descriptive .actions a:hover {
    opacity: 0.5;
}
.grid-title.descriptive .actions i {
    font-size: 22px;
    margin-right: 10px;
}
.grid-title.descriptive p {
    display: inline-block;
    width: 60%;
    white-space: nowrap;
    line-height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #7a7d82;
    font-size: 12px;
}
.grid-title.clickable {
    cursor: pointer;
}
.grid-title .tools > a {
    display: inline-block;
    height: 16px;
    margin-left: 5px;
}
.grid-title .tools > a:hover {
    text-decoration: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    opacity: .6;
}
.grid-title .dropdown-menu i {
    color: #000;
}
.grid-title .actions > .btn-group {
    margin-top: -12px;
}
.grid-title .actions > .btn-group > .btn {
    padding: 4px 10px;
    margin-top: -1px;
}
.grid-title .actions > .btn {
    padding: 4px 10px;
    margin-top: -13px;
}
.grid-title .actions > .btn.mini {
    margin-top: -12px;
    padding: 4px 10px;
}
.grid-title .pagination.pagination-small {
    float: right !important;
    display: inline-block !important;
    margin: 0px;
    margin-top: -2px;
}
.grid-title .tools,
.grid-title .actions {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 6px;
    float: right;
}
.grid-body {
    clear: both;
    padding: 0;
}
.grid-body .btn-toolbar {
    margin: 0px !important;
    padding: 0px !important;
}
.grid-body .slimScrollBar {
    margin-right: 0px !important;
}
.uploader {
    margin-top: 2px !important;
}
.hint {
    padding: 5px 0px 0px 10px;
}
.form form {
    margin: 0px !important;
    padding: 0px !important;
}
.form .form-actions {
    background-color: #f5f5f5 !important;
    margin-top: 0px !important;
    margin-top: 40px;
    padding-left: 190px;
}
.form-actions {
    background-color: #F2F4F6;
    border: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 19px 20px 20px;
}
.form-actions:after {
    clear: both;
}
.form-actions:before,
.form-actions:after {
    content: "";
    display: table;
    line-height: 0;
}
.grid.box .form .form-actions,
.grid.solid .form .form-actions {
    margin-left: -10px !important;
    margin-right: -10px !important;
    margin-bottom: -10px !important;
}
.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group:last-child > .dropdown-toggle {
    border-radius: 0 2px 2px 0;
}
.input-prepend.inside .add-on:first-child,
.input-prepend .btn:first-child {
    background-color: #ffffff;
    border: 1px solid #e5e9ec;
    position: relative;
    left: 3px;
    border-radius: 2px;
    padding-left: 8px;
    padding-right: 4px;
    padding-top: 4px;
    top: 0px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s, color 0.2s linear 0s, box-shadow 0.2s linear 0s, background 0.2s linear 0s;
    color: #9ea9b2;
}
.input-prepend.inside.no-boarder .add-on:first-child,
.input-prepend.no-boarder .btn:first-child {
    border: none;
}
.input-append .add-on,
.input-prepend .add-on {
    position: absolute;
    background-color: #D1DADE;
    color: #5E5E5E;
    text-shadow: none;
    border: #D1DADE;
    border-radius: 0 2px 2px 0;
    height: 37px;
    min-width: 34px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 6px;
}
.input-append .add-on .arrow {
    background-color: transparent !important;
    position: absolute;
    left: -6px;
    color: #D1DADE;
    z-index: 100;
    font-size: 26px;
}
.input-append .add-on .arrow:before {
    font-family: 'FontAwesome';
    content: "\f0d9 ";
}
.input-append.primary .add-on .arrow {
    color: #0aa699;
}
.input-append.success .add-on .arrow {
    color: #0090d9;
}
.input-append.info .add-on .arrow {
    color: #1f3853;
}
.input-append.warning .add-on .arrow {
    color: #fbb05e;
}
.input-append.danger .add-on .arrow {
    color: #f35958;
}
.input-append input[class*="span"] {
    padding-left: 16px;
    border-right: 0px;
    -webkit-border-radius: 2px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius: 2px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.input-append .form-control {
    display: inline-block;
}
.input-append.primary .add-on,
.input-prepend .add-on {
    background-color: #0aa699;
    color: #ffffff;
}
.input-append.success .add-on,
.input-prepend .add-on {
    background-color: #0090d9;
    color: #ffffff;
    display: inline-block;
    float: left;
}
.input-append.info .add-on,
.input-prepend .add-on {
    background-color: #1f3853;
    color: #ffffff;
}
.input-append.warning .add-on,
.input-prepend .add-on {
    background-color: #fbb05e;
    color: #ffffff;
}
.input-append.danger .add-on,
.input-prepend .add-on {
    background-color: #f35958;
    color: #ffffff;
}